options {
  directory "/var/cache/bind";
  listen-on { any; };
  // If there is a firewall between you and nameservers you want
	// to talk to, you may need to fix the firewall to allow multiple
	// ports to talk.  See http://www.kb.cert.org/vuls/id/800113

	// If your ISP provided one or more IP addresses for stable
	// nameservers, you probably want to use them as forwarders.
	// Uncomment the following block, and insert the addresses replacing
	// the all-0's placeholder.
  allow-recursion {
      any;
  };
  recursion yes;

  forwarders {
          8.8.4.4;
          10.50.30.91;
  };

};

zone "hydra.lab" IN {
{% if inventory_hostname == 'hydra-dns-1.hydra.lab' %}
  type master;
{% else %}
  type slave;
  masters { {{ hostvars['hydra-dns-1.hydra.lab']['ansible_host'] }}; };
{% endif %}
	file "/etc/bind/hydra.lab.zone";
};

zone "60.10.in-addr.arpa" {
{% if inventory_hostname == 'hydra-dns-1.hydra.lab' %}
	type master;
{% else %}
  type slave;
  masters { {{ hostvars['hydra-dns-1.hydra.lab']['ansible_host'] }}; };
{% endif %}
	file "/etc/bind/60.10.in-addr.arpa.zone";
};

zone "castelletto.vodafone.local" IN {
    type forward;
    forwarders {
	  10.50.30.91;
    };
};
