# ===================================================
# Configured by Ansible on {{ lookup('pipe','date') }}
# ===================================================

option domain-name-servers {{ dns_servers.internal|join(', ')}}
default-lease-time 600;
option ntp-servers {{ ntp_servers.internal|join(', ')}}
max-lease-time 7200;
authoritative;
ddns-update-style none;

{% if dhcp_failover_master in inventory_hostname %}
failover peer "failover-partner" {
    primary;
    address {{ hosts[dhcp_failover_master].interfaces.management.ip | ipaddr('address')  }};
    port 7912;
    peer address {{ hosts[dhcp_failover_backup].interfaces.management.ip | ipaddr('address') }};
    peer port 7912;
    max-response-delay 30;
    max-unacked-updates 10;
    mclt 1800;
    split 128;
    load balance max seconds 3;
}
{% else %}
failover peer "failover-partner" {
       secondary;
       address {{ hosts[dhcp_failover_backup].interfaces.management.ip | ipaddr('address') }};
       port 7912;
       peer address {{ hosts[dhcp_failover_master].interfaces.management.ip | ipaddr('address') }};
       peer port 7912;
       max-response-delay 30;
       max-unacked-updates 10;
       load balance max seconds 3;
   }
{% endif %}

omapi-port 7911;
omapi-key omapi_key;

key omapi_key {
     algorithm hmac-md5;
     secret "{{ omapi_key }}";
}

{% for subnet_name, subnet in subnets.iteritems() %}
{% if 'dhcp' in subnet.keys() and subnet['dhcp'] %}
# {{ subnet_name }} subnet
{% set network = subnet.network|string + '/' + subnet.prefix_length|string %}
subnet {{ network|ipaddr('network')|ipaddr('address') }} netmask {{ network|ipaddr('netmask') }} {
        option routers {{ network|ipaddr('1')|ipaddr('address') }};
        option domain-name "{{ subnet.domain }}";
        option domain-search "{{ subnet.domain }}";
        pool {
          range {{ network|ipaddr('150')|ipaddr('address') }} {{ network|ipaddr('200')|ipaddr('address') }};
          failover peer "failover-partner";
        }
}

{% endif %}
{% endfor %}
log-facility local7;

include "/etc/dhcp/dhcpd-hydra-static.conf";
