apiVersion: apps/v1beta1
kind: Deployment
metadata:
  name: es-kibana
  namespace: {{ services.kibana.namespace }}
  labels:
    component: kibana
spec:
  replicas: 1
  selector:
    matchLabels:
     component: kibana
  template:
    metadata:
      labels:
        component: kibana
    spec:
      containers:
      - name: kibana
        image: docker.elastic.co/kibana/kibana-oss:6.2.2
        env:
        - name: CLUSTER_NAME
          value: hydra
        resources:
          limits:
            cpu: 1000m
          requests:
            cpu: 100m
{% for port_name, port_data in services.kibana.ports.iteritems() %}
        ports:
        - containerPort: {{ port_data.number }}
          name: {{ port_name }}
          protocol: {{ port_data.protocol}}
{% endfor %}
