config
{% for hostname, host in hosts.iteritems() %}
{% if 'psus' in host.keys() %}
{% for psu in host.psus %}
{% if  psu.pdu.hostname == inventory_hostname %}
outlet {{ psu.pdu.port }} name {{ hostname }} stateOnDeviceStartup lastKnownState
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

apply
