# ===================================================
# Configured by Ansible on {{ lookup('pipe','date') }}
# ===================================================

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

{% for subnet_name, interface in hosts[inventory_hostname.split('.')|first].interfaces.iteritems() %}

# Interface {{ subnet_name }}
{% if 'nic' in subnets[subnet_name].keys() %}
auto {{ subnets[subnet_name].nic }}
iface {{ subnets[subnet_name].nic }} inet static
    address {{ interface.ip | ipaddr('address') }}
    netmask {{ interface.ip | ipaddr('netmask') }}
    {% if subnet_name == 'management' -%}
    gateway {{ interface.ip | ipaddr('1') | ipaddr('address') }}
    {% endif%}
{% endif %}
{% endfor %}

dns-search hydra.lab

dns-nameservers {{ dns_servers.internal|join(' ')}}
