{
  "username": "{{ item.id }}",
  "first_name": "{{ item.first_name }}",
  "last_name": "{{ item.last_name }}",
  "roles": [
    "user"
  ],
  "password": "{{ item.pwd }}",
  "email": "{{ item.first_name|lower }}.{{ item.last_name|lower }}@{{ company_domain }}"
}
