# ============================================================
# Configured by Ansible on {{ lookup('pipe','date') }}
# ============================================================

# For more information about this file, see the man pages
# ntp.conf(5), ntp_acc(5), ntp_auth(5), ntp_clock(5), ntp_misc(5), ntp_mon(5).

# Enable this if you want statistics to be logged.
#statsdir /var/log/ntpstats/

logfile /var/log/ntp.log

statistics loopstats peerstats clockstats
filegen loopstats file loopstats type day enable
filegen peerstats file peerstats type day enable
filegen clockstats file clockstats type day enable

# Note that "restrict" applies to both servers and clients, so a configuration
# that might be intended to block requests from certain clients could also end
# up blocking replies from your own upstream servers.

# Specify one or more NTP servers.
{% if inventory_hostname in groups['ntpd']%}
{% for server in ntp_servers.external %}
server {{ server }} iburst
{% endfor %}
server 127.127.1.0 prefer
fudge 127.127.1.0 stratum 10
# By default, exchange time with everybody, but don't allow configuration.
restrict -4 default kod notrap nomodify limited
restrict -6 default kod notrap nomodify limited
{% else %}
{% for server in ntp_servers.internal %}
server {{ server }} iburst
{% endfor %}
restrict -4 default notrap nomodify nopeer noquery
restrict -6 default notrap nomodify nopeer noquery
{% endif %}

# Local users may interrogate the ntp server more closely.
restrict 127.0.0.1
restrict ::1

{% if inventory_hostname in groups['cumulus'] %}
# Specify interfaces, don't listen on switch ports
interface listen eth0
{% endif %}

driftfile /var/lib/ntp/ntp.drift
