!
hostname {{ inventory_hostname }}
!
{% for vlan in vlans %}
vlan {{ vlan.id }}
  name {{ vlan.name }}
{% endfor %}
!
{% for hostname, device in hosts.iteritems() %}
{% if not device.type == 'vm' and device.interfaces.management.neighbor.hostname == inventory_hostname %}
interface Eth1/{{ device.interfaces.management.neighbor.port }}
  switchport
  switchport mode access
  switchport access vlan {{ device.interfaces.management.vlan_id }}
  description [{{ hostname }}:mgmt]
  no shutdown
!
{% endif %}
{% endfor %}
ip dns source-interface mgmt 0 vrf management
ip name-server {{ dns_server }} use-vrf management
!
ntp server {{ ntp_server }} use-vrf management
ntp source {{ hosts[inventory_hostname].interfaces.management.ip }}
!
ip domain-lookup
ip domain-name {{ dns_domain }}
