#===================================================
# Configured by Ansible on {{ lookup('pipe','date') }}
#===================================================
!
hostname {{ inventory_hostname }}
!
feature scp-server
feature interface-vlan
feature dhcp
feature lldp
feature bgp
feature sla sender
!
{% for subnetname, vlan in subnets.iteritems() %}
{% if 'vlan_id' in vlan.keys() %}
vlan {{ vlan.vlan_id }}
  name {{ vlan.name }}
{% endif %}
{% endfor %}
!
{% for hostname, device in hosts.iteritems() %}
{% if not device.type == 'vm' %}
{% if 'management' in device.interfaces.keys() and 'neighbor' in device.interfaces.management.keys() and device.interfaces.management.neighbor.hostname == inventory_hostname %}
interface Eth1/{{ device.interfaces.management.neighbor.port }}
  switchport
  switchport mode access
  switchport access vlan {{ device.interfaces.management.vlan_id }}
  description [{{ hostname }}:mgmt]
  no shutdown
!
{% endif %}
{% if 'oob' in device.interfaces.keys() and 'neighbor' in device.interfaces.oob.keys() and device.interfaces.oob.neighbor.hostname == inventory_hostname %}
interface Eth1/{{ device.interfaces.oob.neighbor.port }}
  switchport
  switchport mode access
  switchport access vlan {{ device.interfaces.oob.vlan_id }}
  description [{{ hostname }}:oob]
  no shutdown
!
{% endif %}
{% if 'pxe' in device.interfaces.keys() and 'neighbor' in device.interfaces.pxe.keys() and device.interfaces.pxe.neighbor.hostname == inventory_hostname %}
interface Eth1/{{ device.interfaces.pxe.neighbor.port }}
  switchport
  switchport mode access
  switchport access vlan {{ device.interfaces.pxe.vlan_id }}
  description [{{ hostname }}:pxe]
  no shutdown
!
{% endif %}
{% if 'fabric' in device.interfaces.keys() and 'neighbor' in device.interfaces.fabric.keys() and device.interfaces.fabric.neighbor.hostname == inventory_hostname %}
interface Eth1/{{ device.interfaces.fabric.neighbor.port }}
  switchport
  switchport mode access
  switchport access vlan {{ device.interfaces.fabric.vlan_id }}
  description [{{ hostname }}:fabric]
  no shutdown
!
{% endif %}

{% endif %}
{% endfor %}
!
interface Eth1/48
  switchport
  switchport mode trunk
  ip dhcp snooping trust
  description [uplink]
  no shutdown
!
ip dns source-interface mgmt 0 vrf management
{% for server in dns_servers.internal %}
ip name-server {{ server }} use-vrf management
{% endfor %}
!
{% for server in ntp_servers.internal %}
ntp server {{ server }} use-vrf management
{% endfor %}
ntp source {{ hosts[inventory_hostname].interfaces.management.ip }}
!
ip dhcp snooping
ip dhcp snooping vlan 1-900
!
snmp-server protocol enable
snmp-server community {{ snmp_read_community }} ro
snmp-server community {{ snmp_write_community }} rw
snmp-server host {{ snmp_trap_collector }} traps version 2c {{ snmp_trap_community }} udp-port {{ snmp_trap_port }}
snmp-server host {{ snmp_trap_collector }} informs version 2c {{ snmp_trap_community }} udp-port {{ snmp_trap_port }}
snmp-server host {{ snmp_trap_collector }} source-interface mgmt0
snmp-server host {{ snmp_trap_collector }} use-vrf management
snmp-server source-interface traps mgmt 0
snmp-server source-interface informs mgmt 0
snmp-server enable traps
!
logging source-interface mgmt 0
logging server {{ syslog_server }} 6 facility syslog use-vrf management
logging event link-status enable
logging timestamp milliseconds
!
ip domain-lookup
ip domain-name {{ dns_root_domain }}
