---
device:
{% for switch in node %}
{% if switch.hostname == inventory_hostname %}
  hostname: {{ switch.hostname }}
  vendor: {{ switch.model }}
  os: {{ switch.os }}
{% if 'NX-OS' in switch.os %}
  interface_name: Eth1
{% endif %}
{% endif %}
{% endfor %}
  interfaces:
{% for host in node %}
{% if host.mgmt.switch == inventory_hostname %}
   - name: {{ host.mgmt.port }}
     description: {{ host.mgmt.switch }} <--> {{ host.hostname }} 
     type: access
{% for v in vlan %}
{% if v.subnet in host.ip_address.mgmt %}
     vlan: {{ v.id }}
{% elif v.subnet in host.ip_address.sw_mgmt %}
     vlan: {{ v.id }}
{% elif v.subnet in host.ip_address.ipxe %}
     vlan: {{ v.id }}
{% endif %}
{% endfor %}
     active: True
{% endif %}
{% endfor %}
...
