# ===================================================
# Configured by Ansible on {{ lookup('pipe','date --iso-8601=seconds') }}
# ===================================================

local7.*       /var/log/dhcpd.log
