# ===================================================
# Configured by Ansible on {{ lookup('pipe','date') }}
# ===================================================

{% for subnet in vlans %}
{% if subnet.dhcp == True %}
{% for hostname, host_data in hosts.iteritems() %}
{% if subnet['name'] in host_data.interfaces.keys() and 'mac_address' in host_data.interfaces[subnet['name']].keys() and host_data.interfaces[subnet['name']].mac_address %}
host {{ hostname }}.{{ subnet.domain }}
{
    option host-name "{{ hostname }}";
    hardware ethernet {{ host_data.interfaces[subnet['name']].mac_address }};
    fixed-address     {{ host_data.interfaces[subnet['name']].ip }};
    {% if 'onie_url' in host_data.keys() and host_data.onie_url -%}
    option default-url "{{ host_data.onie_url }}";
    {% endif %}
}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
