{% for hostname, host_data in hosts.iteritems() %}
{% if host.interfaces.management.mac_address %}
host {{ hostname }}
{
    option host-name "{{ hostname }}";
    hardware ethernet {{ host_data.interfaces.management.mac_address }};
    fixed-address     {{ host_data.interfaces.management.ip }};
    {% if 'onie_url' in host_data.keys() and host_data.onie_url -%}
    option default-url "{{ host_data.onie_url }}";
    {% endif %}
}
{% endif %}
{% endfor %}
